.calltoaction {
  background-image: url('https://www.wallpaperbetter.com/wallpaper/700/911/612/listening-music-2K-wallpaper-middle-size.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0;
  position: relative;
  transform: scaleX(-1);
}

.calltoaction::after {
  background: rgb(235,102,31);
  background: linear-gradient(28deg, rgba(235,102,31,1) 0%, rgba(121,9,98,1) 36%, rgba(255,226,0,1) 100%);
  content: ' ';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
  transform: scaleX(-1);
}

.container {
  transform: scaleX(-1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--background);
}

.subtitle {
  color: var(--background);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 40px;
}

.playerButton {
  background-color: rgba(235,102,31,1);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
  width: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: all ease-in-out 0.5s;

  margin-right: 20px;
}

.pause {
  background: var(--background);
  width: 200px;
}

.playerButton:hover {
  background-color: rgba(235,102,31,1);
  color: var(--background);
}

.links {
  display: flex;
}

.links a {
  border: 1px var(--background) solid;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
  border-radius: 25px;
  width: 50px;
  position: relative;
  margin-right: 20px;
  transition: all ease-in-out 0.5s;
}

.links a::after {
  content: ' ';
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px rgba(235,102,31,1) solid;
  position: absolute;
  left: 3px;
  top: 3px;
}

.links a::before {
  content: ' ';
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px rgba(255,226,0,1) solid;
  position: absolute;
  left: -3px;
  bottom: -5px;
}

.youtube:hover {
  background-color: #FF0000;
}

.instagram:hover {
  background-color: #E1306C;
}

.facebook:hover {
  background-color: #4267B2;
}

.whatsapp:hover {
  background-color: #25D366;
}

.content {
  padding: 100px 0;
}

.content .container {
  transform: scaleX(1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content .container h2 {
  font-size: 32px;
  font-weight: 700;
}

.check {
  display: grid;
  grid-template-columns: 2fr 2fr;
  position: relative;
  margin-top: 80px;
}

.check-img {
  position: relative;
}

.check-img::after {
  content: ' ';
  height: 370px;
  width: 500px;
  border-radius: 25px;
  border: 2px rgba(235,102,31,1) solid;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: rotateZ(345deg);
  z-index: -1;
}

.check-img::before {
  content: ' ';
  height: 370px;
  width: 500px;
  border-radius: 25px;
  border: 2px #25D366 solid;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: rotateZ(20deg);
}

.check-img img {
  display: block;
  max-height: 370px;
  max-width: 500px;
  border-radius: 40px;
  width: 100%;
  height: auto;
}

.check img::after {
  content: " ";
  border: 1px #E1306C solid;
}

.check p {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  margin: auto 0;
  padding: 20px;
}

footer {
  background-color: #333;
}

@media (max-width: 920px) {
  .check {
    display: grid;
    grid-template-areas: "image image" "paragraph paragraph";
  }

  .check-img {
    margin: 0 auto;
    grid-area: image;
  }

  .check p {
    grid-area: paragraph
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }

  .links {
    display: grid;
    grid-template-areas: "button button button button" "facebook youtube instagram whatsapp";
  }

  .playerButton {
    grid-area: button;
    width: 100%;
  }

  .links a {
    margin: 20px auto;
  }

  .facebook {
    grid-area: facebook;
  }

  .youtube {
    grid-area: youtube;
  }

  .instagram {
    grid-area: instagram;
  }

  .whatsapp {
    grid-area: whatsapp;
  }
}